<evan-loading *ngIf="loading" delayLoading="500"></evan-loading>
<ng-container *ngIf="!loading">
  <ion-row>
    <ion-col col-6 col-md-6 text-center>
      <ion-label class="standalone">
        <h2>{{ '_flightplan.startDate' | translate }}</h2>
      </ion-label>
      <span>{{ flightplan.metadata.startDate | date:'medium':'':translateService.translate.currentLang }}</span>
    </ion-col>
    <ion-col col-6 col-md-6 text-center>
      <ion-label class="standalone">
        <h2>{{ '_flightplan.endDate' | translate }}</h2>
      </ion-label>
      <span>{{ flightplan.metadata.endDate | date:'medium':'':translateService.translate.currentLang }}</span>
    </ion-col>
  </ion-row>
  <h4 text-center margin-vertical>{{ flightplan.metadata.description }}</h4>
    <div class="evan-content evan-relative transparent no-padding">
      <agm-map
        [latitude]="flightplan.metadata.coordinates[0].lat"
        [longitude]="flightplan.metadata.coordinates[0].lng">
        <agm-marker 
            *ngFor="let m of flightplan.metadata.coordinates"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label"
            [markerDraggable]="false">
        </agm-marker>
      </agm-map>
      <div text-center>
        <button margin-top ion-button icon-only round class="coordinate-toggle"
          (click)="showMore = !showMore; ref.detectChanges()">
          <ion-icon name="arrow-up" *ngIf="showMore"></ion-icon>
          <ion-icon name="arrow-down" *ngIf="!showMore"></ion-icon>
        </button>
      </div>
    </div>
  <div class="evan-content" *ngIf="showMore">
    <div class="table-responsive">
      <h3 class="content-header">{{ '_flightplan.coordinates' | translate }}</h3>
      <table>
        <thead>
          <tr>
            <th>{{ '_flightplan.waypoint' | translate }}</th>
            <th>{{ '_flightplan.lang' | translate }}</th>
            <th>{{ '_flightplan.lat' | translate }}</th>
            <th>{{ '_flightplan.height' | translate }}</th>
          </tr>
        </thead>
        <tr *ngFor="let m of flightplan.metadata.coordinates; let i = index">
          <td>{{ i + 1}}</td>
          <td>{{ m.lng.toFixed(2) }}</td>
          <td>{{ m.lat.toFixed(2) }}</td>
          <td>{{ m.height }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="evan-content">
    <div class="table-responsive">
      <h3 class="content-header">{{ '_uavflightplan.checks' | translate }}</h3>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{ '_uavflightplan.name' | translate }}</th>
            <th>{{ '_uavflightplan.checks' | translate }}</th>
            <th>{{ '_uavflightplan.status' | translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr tappable *ngFor="let check of flightplan.checks" (click)="openCheck(check.address)">
            <td width="390">{{ check.name }}</td>
            <td>
              <span *ngIf="check.todos" [class.available]="check.solvedTodos == check.todos.length" [class.rented]="(check.solvedTodos < check.todos.length) || !check.solvedTodos">
                {{ check.solvedTodos || '0' }}
                {{ '_uavflightplan.from' | translate }}
                {{ check.todos.length }}
              </span>
            </td>
            <td>
              <span class="evan-label label-rounded"
                [class.label-info]="check.solvedTodos != check.todos.length"
                [class.label-success]="check.solvedTodos == check.todos.length">
                <ng-container *ngIf="check.contractState == '1'">
                  {{ '_uavflightplan.rejected' | translate }}
                </ng-container>
                <ng-container *ngIf="check.solvedTodos == check.todos.length">
                  {{ '_uavflightplan.success' | translate }}
                </ng-container>
                <ng-container *ngIf="check.solvedTodos != check.todos.length">
                  {{ '_uavflightplan.in-progress' | translate }}
                </ng-container>
              </span>
            </td>
            <td text-right>
              <button *ngIf="check.loading" class="loading-button" ion-button round icon-only outline>
                <ion-spinner color="light"></ion-spinner>
              </button>
              <button *ngIf="!check.loading" ion-button round icon-only outline 
                (click)="openCheck(check.address)">
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div text-center *ngIf="flightplan.loading">
        <ion-spinner color="light"></ion-spinner>
      </div>
    </div>
  </div>
</ng-container>
